<html>
    <head>
        <link rel="stylesheet" href="/fatima-gh.github.io/assets/css/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="typing-demo">
             Fatima AlGhamdi.
            </div>
            <div>
                <iframe width="660" height="415" src="https://www.youtube.com/embed/YQ39VdMM-eY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        
    </body>
</html>